@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  background: #081b29;
  color: #ededed;

  /* display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to left top, #031a9a, #8b53ff); */
}

/* Unit testing Start */

/* .wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
} */
/* Unit testing End */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

/* ========= Navbar Start ========= */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 20px 10%;
  z-index: 2;
}

.logo a {
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #ededed;
}

.navbar-nav {
  display: flex;
}

.navbar-nav a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
  font-weight: 500;
  margin-left: 35px;
  cursor: pointer;
}

.navbar-nav a:hover {
  color: #b3b3b3;
}

.profile-navbar {
  display: flex;
  align-items: center;
  margin-left: 50px;
  border: solid 1px #ededed;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.image-profile-navbar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* margin-left: 20px; */
  /* padding: 0; */
}

.name-profil-navbar {
  padding: 0;
}

.dropdown-content-navbar{
text-align: end;
padding-right: 10px;
background: #081b29;
margin-left: 50px;
border-radius: 15px;
}

.dropdown-content-navbar a {
  display: block;
}
/* .navbar-toggle {
  display: none;
}

/* Loginout Start */
/* .loginout,
.loginout a {
  text-decoration: none;
  color: #ededed;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.loginout:hover,
.loginout a:hover {
  color: #b3b3b3;
  
}  */
/* Loginout End */

/* ========== Navbar End ========== */

/* Home Start */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url("https://img.freepik.com/free-photo/mesmerizing-green-forest-full-different-kinds-unique-plants-yakushima-japan_181624-36812.jpg?t=st=1709945766~exp=1709949366~hmac=66c4f9a8be4f9976e111b33d8085882ac64096877ef13875986dac1d50aa521d&w=1380")
    no-repeat; */

    background: linear-gradient(to right bottom, #081b29, green);
 ;
  background-size: cover;
  background-position: center;
  padding: 20px 10%;
}




.link-home {
  margin: 25px;
  padding: 25px;
}

.home-link {
  text-decoration: none;
  color: inherit;
  background: #ededed;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.home-link:hover {
  background: green;
  color: #ededed;
}
/* Home End */

/* Register Start */
.register {
  width: 420px;
  background: yellowgreen;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  margin: 100px auto;
}

.login {
  background: yellowgreen;
  width: 420px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  margin: 100px auto;
}
/* Register End */

/* Dashboard Start */
.profile {
  border: 2px solid #fff;
  background: yellowgreen;
}

.image-profile {
  width: 80px;
  height: 80px;
}
.image-users {
  width: 50px;
  height: 50px;
}

.popup {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popupImg {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close-popupImg {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Dashboard End */

/* Banner Start */
.banner img {
  width: 1000px;
  /* height: 300px; */
}

.banners img {
  width: 300px;
  height: 300px;
}

.popup-create-banner,
.popup-edit-banner,
.popup-delete-banner {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-edit-banner {
  text-align: center;
}

.btn-close-popup-create-banner,
.btn-close-popup-edit-banner {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-edit-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-edit-banner button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  font-weight: 600;
}

.form-edit-banner button:hover {
  background: black;
  color: orangered;
}

.popup-delete-banner {
  text-align: center;
  /* justify-content: center; */
  display: flex;
}

.popup-delete-banner-btn-no button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: green;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-banner-btn-no button:hover {
  background: green;
  color: #ededed;
}

.popup-delete-banner-btn-yes button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: red;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-banner-btn-yes button:hover {
  background: red;
  color: #ededed;
}

.popup-delete-banner > div:first-child {
  position: absolute;
  transform: translate(80%, -100%);
}

.banners-container {
  display: flex;
}

.banners-container img {
  width: 800px;
  transition: transform 0.5s ease;
  padding: 5px;
  border-radius: 15px;
}
/* Banner End */

/* Promo Start */
.promo img {
  width: 1000px;
}

.promos img {
  width: 300px;
  height: 300px;
}

.popup-create-promo,
.popup-edit-promo,
.popup-delete-promo {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close-popup-create-promo,
.btn-close-popup-edit-promo {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-edit-promo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-edit-promo button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  font-weight: 600;
}

.form-edit-promo button:hover {
  background: black;
  color: orangered;
}

.popup-delete-promo {
  text-align: center;
  /* justify-content: center; */
  display: flex;
}

.popup-delete-promo-btn-no button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: green;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-promo-btn-no button:hover {
  background: green;
  color: #ededed;
}

.popup-delete-promo-btn-yes button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: red;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-promo-btn-yes button:hover {
  background: red;
  color: #ededed;
}

.popup-delete-promo > div:first-child {
  position: absolute;
  transform: translate(80%, -100%);
}

/* .promos-container {
  display: flex;
  
}

.promos-container img {
  width: 800px;
  transition: transform 0.5s ease;
  padding: 5px;
  border-radius: 15px;
} */

/* .promos-home-index {
  background: white;
  height: 450px;
  color: #081b29;
  border-radius: 12px;
  
}

.promos-home-img {
   height: 44px;
   width: 44px;
   border-radius: 50%;
   display: flex;
   
   
   
} */

/* Promo End */

/* Category Start */
.category img {
  width: 1000px;
}

.categories img {
  width: 300px;
  height: 300px;
}

.popup-create-category,
.popup-edit-category,
.popup-delete-category {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close-popup-create-category,
.btn-close-popup-edit-category {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-edit-category {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-edit-category button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  font-weight: 600;
}

.form-edit-category button:hover {
  background: black;
  color: orangered;
}

.popup-delete-category {
  text-align: center;
  /* justify-content: center; */
  display: flex;
}

.popup-delete-category-btn-no button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: green;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-category-btn-no button:hover {
  background: green;
  color: #ededed;
}

.popup-delete-category-btn-yes button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: red;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-category-btn-yes button:hover {
  background: red;
  color: #ededed;
}

.popup-delete-category > div:first-child {
  position: absolute;
  transform: translate(80%, -100%);
}

.categories-container {
  display: flex;
}

.categories-container img {
  /* width: 100%; */
  transition: transform 0.5s ease;
  padding: 5px;
  border-radius: 15px;
}

/* Category End */

/* Activity Start */
.activity img {
  width: 1000px;
}

.activities img {
  width: 300px;
  height: 300px;
}

.popup-create-activity,
.popup-edit-activity,
.popup-delete-activity {
  width: 420px;
  background: rgb(5, 5, 150);
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-close-popup-create-activity,
.btn-close-popup-edit-activity {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-edit-activity {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-edit-activity button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  font-weight: 600;
}

.form-edit-activity button:hover {
  background: black;
  color: orangered;
}

.popup-delete-activity {
  text-align: center;
  /* justify-content: center; */
  display: flex;
}

.popup-delete-activity-btn-no button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: green;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-activity-btn-no button:hover {
  background: green;
  color: #ededed;
}

.popup-delete-activity-btn-yes button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  /* margin-top: 10px; */
  background: #ededed;
  color: red;
  font-weight: 600;
  width: 70px;
  height: 45px;
  margin: 10px;
}

.popup-delete-activity-btn-yes button:hover {
  background: red;
  color: #ededed;
}

.popup-delete-activity > div:first-child {
  position: absolute;
  transform: translate(80%, -100%);
}

.activities-container {
  display: flex;
}

.activities-container img {
  /* width: 100%; */
  transition: transform 0.5s ease;
  padding: 5px;
  border-radius: 15px;
}

/* Activity End */

/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
